<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <style type="text/css">
    body {
        background-color: #ececec;
    }

    /*.form-horizontal {
        margin: auto auto;
    }*/

    #btn_submit:hover {
        background-color: #43bc4c;
    }

    .w3-tangerine {
        font-family: "Tangerine", serif;
        text-align: center;
    }

    label {
        font-family: "Tangerine", serif;
    }

    .form-group input {
        border: 0;
        border-bottom: 1px solid #000;
        outline: none;
        background: transparent;
        padding: 3vh 2vh;
        outline-style: none;
        box-shadow: none;
        font-family: "Tangerine", serif;
        font-size: 32px;
    }

    .form-group input:focus {
        border: none;
        outline: none;
        outline-style: none;
        border-bottom: 1px solid #000;
        box-shadow: none;
        font-family: "Tangerine", serif;
    }

    button {
        border: 0;
        border-radius: 75px;
        padding: 1.2vh 6vh;
        justify-content: center;
        text-align: center;
        margin-left: 20vh;
        outline: none;
        box-shadow: none;
        outline-style: none;
    }
    </style>
</head>

<body>
    <div class="container">
        <div class="mt-2 p-2 border" style="box-shadow: 5px 10px 18px #888888; background-color: #f5f4fb;">
            <div class="row border" style="margin:2vh; padding:0;">
                <div class="col-lg-6" style="width: 80vh; height: 90vh; margin:0;padding:0;">
                    <!-- <img src="./images/cold.jpg" style="width: 100%; height: 100%;"> -->
                    <video style="width:100%; height:100%;margin:0;padding: 0;" controls autoplay="true" loop>
                        <source src="./images/certi_animation2.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="col-lg-6" style="justify-content: center;margin:0;padding-left: 10vh; padding-top: 4vh;background-color: #ffffff;">
                    <div class="w3-container w3-tangerine">
                        <p class="w3-jumbo" style="border-bottom: 1px solid #000000; margin-bottom: 5vh;">E-Certificate Generator</p>
                        <p class="w3-jumbo" style="text-align: center;margin-bottom: 5vh;">Login</p>
                    </div>
                    <form class="form-horizontal" action="/login" method="post">
                        <div class="form-group">
                            <!-- <label for="email" class="w3-xxlarge">Username:</label> -->
                            <input type="text" class="form-control" placeholder="Enter Username" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <!-- <label for="pwd" class="w3-xxlarge">Password:</label> -->
                            <input type="password" class="form-control" placeholder="Enter Password" id="pwd" name="password" required>
                        </div>
                        <button id="btn_submit" type="submit" class="mt-4">LOGIN</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>