<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="#"><img src="/images/dbit.png" alt="LOGO" style="width: 50px; height: 50px;"></a>
        <ul class="navbar-nav mr-auto">
            <li>
                <strong>
                    <h4 style="color: #fff;">Welcome
                        <%= username %>
                    </h4>
                </strong>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <% if (roles == "admin") { %>
            <li class="nav-item">
                <a class="nav-link" href="/addFaculty">Add Faculty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/viewFaculty">View Faculty</a>
            </li>
            <% } %>
            <% if (roles == "hod" || roles == "faculty") {%>
            <li class="nav-item">
                <a class="nav-link" href="/viewEvent">View Events</a>
            </li>
            <% } %>
            <% if (roles == "faculty") { %>
            <li class="nav-item">
                <a class="nav-link" href="/addEvent">Add Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/myEvent">My Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/makeCertificate">Make Certificate</a>
            </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link" href="/report">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
</body>

</html>