<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=IM Fell Great Primer SC' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Eagle Lake' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Yrsa' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montaga' rel='stylesheet'>
    <style type="text/css">
    a {
        color: #ffffff;
    }

    a:hover {
        color: #ffffff;
        border-bottom: 1px solid #ffffff;
    }

    .nav-item {
        margin: 0 1vh;
    }

    body {
        background-color: #fefefe;
    }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-sm border-bottom" style="background-color: #8376c5;">
        <a class="navbar-brand" href="#"><img src="/images/dbit.png" alt="LOGO" style="width: 40px; height: 40px;"></a>
        <ul class="navbar-nav mr-auto">
            <li>
                <strong>
                    <h4 style="color: #fff;">Welcome
                        <%= username %>
                    </h4>
                </strong>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <% if (roles == "admin") { %>
            <li class="nav-item">
                <a class="nav-link" href="/addFaculty">Add Faculty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/viewFaculty">View Faculty</a>
            </li>
            <% } %>
            <% if (roles == "hod" || roles == "faculty") {%>
            <li class="nav-item">
                <a class="nav-link" href="/viewEvent">View Events</a>
            </li>
            <% } %>
            <% if (roles == "faculty") { %>
            <li class="nav-item">
                <a class="nav-link" href="/addEvent">Add Event</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/myEvent">My Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/makeCertificate">Make Certificate</a>
            </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link" href="/report">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
</body>

</html>