<!DOCTYPE html>
<html lang="en">

<head>
    <title>REPORT</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

   
</head>

<body>
	<div style="display: block;">
        <% include navbar.ejs ;%></div>

<div style="width: 40%; height: auto; margin-top: 15vh;">
	<h3 class="text-center">Event Type</h3>
	<canvas id="myChart" ></canvas>
</div>



 <script type="text/javascript">
   	var   data = {
    datasets: [{
        data: [<%= data %>],
        backgroundColor: ['rgb(255, 99, 132)','rgb(0, 0, 132)','rgb(0, 100, 132)','rgb(100, 0, 132)','rgb(50, 0, 50)'],
     }],


    // These labels appear in the legend and in the tooltips when hovering different arcs
    labels: [ 
    <% for (var i = 0; i < label.length; i++) { %>
    		"<%= label[i] %>",
    		<%}%> 
    	 ]

}
    	var ctx = document.getElementById('myChart').getContext('2d');
var myPieChart = new Chart(ctx, {
    type: 'pie',
    data :data


});
    </script>

</body>

</html>