<!DOCTYPE html>
<html>

<head>
    <title></title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <style type="text/css">
    canvas {

        width: 1400px !important;
        height: 600px !important;

    }
    </style>
</head>

<body>
    <canvas id="myChart"></canvas>
    <script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['1 ', '10 ', '50 ', '100 ', '150 ', '200 '],
            datasets: [{
                label: ['Certificate generation Time'],
                borderColor: '#7b5da2',
                data: [0.26, 0.556, 2.415, 5.369, 8.224, 10.138]
            }]
        },

        // Configuration options go here
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                labels: {
                    // This more specific font property overrides the global property
                    fontColor: 'black',
                    fontStyle: 'bold',
                    fontSize: 22
                }
            },
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        fontStyle: "bold",
                        fontSize : 20,
                        labelString: 'Time in Seconds'
                    },
                    ticks: {
                        beginAtZero: true,
                        fontStyle:"bold",
                        fontSize: 16
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        fontStyle: "bold",
                        fontSize : 20,
                        labelString: 'Number of Certificates'
                    },
                    ticks: {
                        fontStyle:"bold",
                        fontSize: 16
                    }
                }]
            }
        },
        animation: {
            onComplete: function() {
                var ctx = this.chart.ctx;
                ctx.textAlign = "center";
                ctx.textBaseline = "top";

                this.chart.config.data.datasets.forEach(function(dataset) {
                    ctx.fillStyle = dataset.strokeColor;
                    dataset.metaDataset._points.forEach(function(p) {
                        ctx.fillText(p._chart.config.data.datasets[p._datasetIndex].data[p._index], p._model.x, p._model.y - 10);
                    });
                })
            }
        }
    });
    </script>
</body>

</html>